<div class="field">
  <%= f.label :title %> <br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :entry %> <br />
  <%= f.text_area :entry %>
</div>

<div class="field">
  <%= f.label :author %> <br />
  <%= f.text_field :author %>
</div>