<ul class="item ">
  <li>
	<div class="actions">
      <%= link_to 'Edit', [:edit, :admin, @post] %> |
      <%= link_to 'Remove', [:admin, @post], :method => :delete, 
           :confirm => "Are you sure?" %> |
	  <%= link_to 'Back to listing page', admin_posts_path %>
	
    <h3><%= link_to @post.title, [:admin, @post] %></h3>
    <div class="excerpt"><%= @post.entry %></div>
  </li>
  <hr>
  <%= link_to 'add link', new_admin_post_link_path(@post) %>

<div class="form-box">
	<ul class="list">
	   <%=render @links %>
	 </ul>
</div>
</ul>